### Default Payment predictions of cleint creitcard using python

####  About Default Payment 

A diabetes is a non-communicable but chronic disease which occure whenever the pancreas in longer able to produce insulin in blood or when the body can't make good use of the insulin it produces.

#### Problem of the Statement

The objective of this developing module is to predict wheter patient has diabetes or not. The datasets consiste of serveral medical predicator (Independent) variable and one target variable, Outcome. Peridicator variables includes pregnancies, Gulcose, Blood pressure, Skin thickness, Onsulin, BMI, DiabetesPedigreeFunction, age & Outcomes.

#### Descriptions

The aim of this datasets is to predict whether patient has diabete disease or not. The data sets has several medical parameter or predictor variable and core target variable. pridicator variables includes pregnancies, Glucose, Blood Pressure, Skin thockmess, Insulin, BMI, DiabetesPdigreeFunction, age & Outcomes.

##### For prediction we require dataset, here we have datasets which is downloded from UCI Machine Learning Dataset 

Datasets Link = https://archive.ics.uci.edu/static/public/350/default+of+credit+card+clients.zip

#### Step1:  Install All Required Python Package

In [64]:
import os
import zipfile
import requests
#numpy 
import numpy as np
#pandas 
import pandas as pd
#matplotlib
import matplotlib.pyplot as plt
#seaborn 
import seaborn as sns
#
!pip install xlrd
!pip install openpyxl

#### Step-2: Download datasets using Url

In [65]:

# 1. Download the dataset
url ='https://archive.ics.uci.edu/static/public/350/default+of+credit+card+clients.zip'
dataset_zip = "default_of_credit_card_clients.zip"

# Download the zip file
response = requests.get(url)
with open(dataset_zip, "wb") as file:
    file.write(response.content)

# 2. Extract the dataset
with zipfile.ZipFile(dataset_zip, 'r') as zip_ref:
    zip_ref.extractall("default_of_credit_card_clients")

In [72]:
extract_folder = "default_of_credit_card_clients/default of credit card clients.xls"
print(extract_folder)

default_of_credit_card_clients/default of credit card clients.xls

In [70]:
# Path to the XLS file
xls_file = "default_of_credit_card_clients/default of credit card clients.xls"

# Load the XLS file into a DataFrame
df = pd.read_excel(xls_file, header=1)  # Skip the first row with general info

# Specify the output CSV file path
csv_file = "default_of_credit_card_clients/default_of_credit_card_clients.csv"

# Save the DataFrame to CSV
df.to_csv(csv_file, index=False)

In [76]:
df = pd.read_csv('default_of_credit_card_clients/default_of_credit_card_clients.csv')
df.head()

,ID,LIMIT_BAL,SEX,EDUCATION,MARRIAGE,AGE,PAY_0,PAY_2,PAY_3,PAY_4,...,BILL_AMT4,BILL_AMT5,BILL_AMT6,PAY_AMT1,PAY_AMT2,PAY_AMT3,PAY_AMT4,PAY_AMT5,PAY_AMT6,default payment next month
0,1,20000,2,2,1,24,2,2,-1,-1,...,0,0,0,0,689,0,0,0,0,1
1,2,120000,2,2,2,26,-1,2,0,0,...,3272,3455,3261,0,1000,1000,1000,0,2000,1
2,3,90000,2,2,2,34,0,0,0,0,...,14331,14948,15549,1518,1500,1000,1000,1000,5000,0
3,4,50000,2,2,1,37,0,0,0,0,...,28314,28959,29547,2000,2019,1200,1100,1069,1000,0
4,5,50000,1,2,1,57,-1,0,-1,0,...,20940,19146,19131,2000,36681,10000,9000,689,679,0

In [75]:
df.shape

(30000, 25)

In [77]:
df.describe

<bound method NDFrame.describe of           ID  LIMIT_BAL  SEX  EDUCATION  MARRIAGE  AGE  PAY_0  PAY_2  PAY_3  \
0          1      20000    2          2         1   24      2      2     -1
1          2     120000    2          2         2   26     -1      2      0
2          3      90000    2          2         2   34      0      0      0
3          4      50000    2          2         1   37      0      0      0
4          5      50000    1          2         1   57     -1      0     -1
...      ...        ...  ...        ...       ...  ...    ...    ...    ...
29995  29996     220000    1          3         1   39      0      0      0
29996  29997     150000    1          3         2   43     -1     -1     -1
29997  29998      30000    1          2         2   37      4      3      2
29998  29999      80000    1          3         1   41      1     -1      0
29999  30000      50000    1          2         1   46      0      0      0

       PAY_4  ...  BILL_AMT4  BILL_AMT5  BILL_AMT6  PAY_AMT1  PAY_AMT2  \
0         -1  ...          0          0          0         0       689
1          0  ...       3272       3455       3261         0      1000
2          0  ...      14331      14948      15549      1518      1500
3          0  ...      28314      28959      29547      2000      2019
4          0  ...      20940      19146      19131      2000     36681
...      ...  ...        ...        ...        ...       ...       ...
29995      0  ...      88004      31237      15980      8500     20000
29996     -1  ...       8979       5190          0      1837      3526
29997     -1  ...      20878      20582      19357         0         0
29998      0  ...      52774      11855      48944     85900      3409
29999      0  ...      36535      32428      15313      2078      1800

       PAY_AMT3  PAY_AMT4  PAY_AMT5  PAY_AMT6  default payment next month
0             0         0         0         0                           1
1          1000      1000         0      2000                           1
2          1000      1000      1000      5000                           0
3          1200      1100      1069      1000                           0
4         10000      9000       689       679                           0
...         ...       ...       ...       ...                         ...
29995      5003      3047      5000      1000                           0
29996      8998       129         0         0                           0
29997     22000      4200      2000      3100                           1
29998      1178      1926     52964      1804                           1
29999      1430      1000      1000      1000                           1

[30000 rows x 25 columns]>